/* Adjust the background colors and gradients as needed */
.main{
  background-color: rgb(216, 219, 227);
}.green {
  background: linear-gradient(to right, #67676b 10%, #4CAF50 80%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.blue {
  background: linear-gradient(to right, #92b5ec 10%, #2196F3 80%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mat-clr-stat-card {
  border-radius: 10px;
}

/* Custom styles for the icon container */
.bg-c-green,
.bg-c-blue {
  padding: 10px; /* Adjust as needed */
}

.bg-c-green {
  background-color: #31ea69; /* Darker color */
}

.bg-c-blue {
  background-color: #2196F3; /* Darker color */
}

.mat-icon {
  font-size: 24px;

}


/* Additional styles for the card */
.card {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
/*  */
