/* App.css (or your custom CSS file) */
.relative {
  position: relative;
}

.bg-dark-purple {
  background-color: #1d0652; 
  width: 25%;
  color: white;
}

.text-white {
  color: #fff; 
}

.text-dark-purple {
  background-color: #1d0652;  
}

.w-25vw {
  width: 25vw;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
